---
  import "@styles/brief-works.css";
  import { getCollection } from 'astro:content';

  const CollaborationsWork = await getCollection("work", ({data}) => {
    return data.category === "COLLABORATIONS"
  });

  const StudyCasesWork = await getCollection("work", ({ data }) => {
    return data.category === "STUDY-CASES"
  });
---
<div class="feature__wrapper">
  <section class="feature">
    <article class="feature__item feature--description">
      <h3 class="feature__subtitle">Trabajos</h3>
      <h2 class="feature__title">Mejores proyectos y colaboraciones</h2>
      <p class="feature__description">A lo largo de los años he tenido la oportunidad de trabajar con marcas reconocidas a nivel nacional e internacional. Adicional, el aprendizaje constante ha sido una oportunidad para brindar soluciones a problemáticas por medio de propuestas creativas presentadas como casos de estudio.</p>
    </article>
    <article class="feature__item feature--works card__container">
      <div class="card">
        <h3 class="card__title">Colaboraciones</h3>
        <p class="card__description">He trabajado con marcas como:</p>
        <ul class="card__list">
          {
            CollaborationsWork.map((work) => (
              <li class="card__item">
                <a href={`/work/${work.slug}`} class="card__link">
                  <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow"/>
                  <span class="card__link__text">{work.data.titleLink}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="card">
        <h3 class="card__title">Casos de Estudio</h3>
        <p class="card__description">Por medio de propuestas creativas he brindado soluciones a problemáticas del entorno:</p>
        <ul class="card__list">
          {
            StudyCasesWork.map((work) => (
              <li class="card__item">
                <a href={`/work/${work.slug}`} class="card__link">
                  <img src="/assets/images/card-arrow.svg" class="card__image" alt="Card Arrow"/>
                  <span class="card__link__text">{work.data.titleLink}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </article>
  </section>
</div>