---
 import "@styles/button.css";
 const { type, children, link, variation } = Astro.props;
---
{type === "button" && <button class={`button button--${variation}`}>{children}</button>}
{type === "link" && <a href={link} class={`button button--${variation}`}>{children}</a>}