---
import "@styles/works-cards.css";

import { getCollection } from "astro:content";

const CollaborationsWork = await getCollection("work", ({ data }) => {
  return data.category === "COLLABORATIONS";
});
---

<article class="workGrid">
  {
    CollaborationsWork.map((work) => (
      <div class="workGrid__item">
        <div class="workGrid__header">
          <img
            src={work.data.thumbImage}
            alt={`${work.data.title}-image`}
            class="workGrid__image"
          />
          {work?.data?.thumbLogo && (
            <img
              src={work.data.thumbLogo}
              alt={`${work.data.title}-logo`}
              class="workGrid__logo"
            />
          )}
        </div>
        <p class="workGrid__description">{work.data.thumbDescription}</p>
        <img
          src={work.data.thumbBadge}
          alt={`${work.data.title}-badge`}
          class="wordGrid__badge d-block mb-2 icon-image"
        />
        <a
          href={`/work/${work.slug}`}
          aria-label={`view more ${work.slug} detail`}
          class="link-icon justify-content-end"
        >
          <span>View more</span>
          <img
            class="card__arrow"
            src="/assets/images/arrow-right.svg"
            alt="Arrow right"
          />
        </a>
      </div>
    ))
  }
</article>
